<h2>Marketplace</h2>

<div *ngFor="let album of albums | async" (click)="goToDetailPage(album)" class="card card-default">
  <div class="card-body">
    <h3><em>{{album.title}}</em> by {{album.artist}}</h3>
  </div>
</div>


<!-- This lets Angular know that the data we are receiving there is asynchronous and we need to use a promise to wait for it to load. Firebase is fast but it'll still take time for our service to reach out to Firebase, request our data, and return it back into the component.

While the service is communicating with Firebase, our component's template will load. However, it won't yet know what albums is, because the Service has not yet provided it.

By adding the async pipe here, we're preemptively notifying Angular that albums is asynchronous and that it will likely come after the template attempts to load. Angular, in turn, doesn't immediately throw an error, and instead waits patiently for the albums information, which the Service eventually provides. -->
